* {
    font-family: 'Cookie', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(67, 13, 117);
}


body {
    background-color: rgba(231, 211, 252, 0.664);
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 70px;
}

header img {
    height: 100px;
    margin-right: 16px;
}

form {
    display: flex;
    justify-content: space-between;
    max-width: 850px;
}

form input,
button {
    padding: 8px;
    font-size: 32px;
    border: none;
    margin-bottom: 56px;
}

form input {
    max-width: 350px;
    width: 100%;
    background-color: rgb(247, 243, 250);
    border-bottom: 1px solid rgb(67, 13, 117);
}

form #telefone-contato {
    font-size: 27.5px;
    padding-top: 12px;
    padding-bottom: 9px;
}

form button {
    background-color: rgb(67, 13, 117);
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

tbody img {
    height: 60px;
    margin-top: 8px;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

table {
    max-width: 850px;
    width: 100%;
}

table th {
    border-bottom: 2px solid rgb(67, 13, 117);
    padding: 10px;
    font-size: 40px;
}

table td {
    text-align: center;
    font-size: 30px;
    border-bottom: 1px solid rgba(67, 13, 117, 0.459);
}